body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
div.form-divider label {
    display: block;
    width: 99%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
}

#user-message {
    width: 99%;
    box-sizing: border-box;
    height: 150px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin: 0;
}

#submit-button {
    margin-top: 40px;
}